src/main/resources/xsd/Invoice.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Invoice">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="invoiceId" type="xs:int"/>
                <xs:element name="total" type="xs:decimal"/>
                <xs:element name="isPaid" type="xs:int"/>
                <xs:element name="patientId" type="xs:int"/>
                <xs:element name="paymentDate" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>